*
{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
#section1 
{
    background-image: linear-gradient(rgb(4,9,30,0.7), rgb(4,9,30,0.7)), url("../img/section1bg.png");
    background-position:center;
    height: 100vh;
    position: relative;
    
}
nav img
{
    width: 70%;
    line-height: 50px;
}
 nav 
{
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0px 100px;
    line-height: 50px;
    position:sticky;
    top: 0px;
    z-index: 1000;
    /* background-color: #FF0000; */
}
 nav ul li
{
list-style: none;
	display: inline-block;
	margin: 0px 20px;
}
 nav ul li a
{
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
} nav ul li a:hover
{
    text-decoration: underline 3px solid  #FF0000 ;
}
.textbox
{
    text-align: center;
    position: absolute;
    top: 70%;
}
.textbox h1
{
    color: white;
}
.textbox p
{
    width: 50%;
    text-align: center;
    color: white;
}
.textbox a
{
    text-decoration: none;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.textbox a:hover
{
background-color: #FF0000;
border: #FF0000;
}
nav .icon,#checkbtn
{
    display: none;
}

@media only screen and (max-width :420px)  
{
nav
{
    line-height: 50px;
}
nav
{
	padding: 0px 20px;
	font-size: 20px;
}
nav ul
{
	position: absolute;
	top: 0px;
	background-color: #FF0000;
	width: 50%;
	height: 100vh;
	left: -100%;
	transition: all 2s;

}
nav ul li
{
	display: block;
	text-align: center;
}
nav ul li a
{
	color: white;
	font-weight: 500;
}
nav ul li a:hover
{
	text-decoration: underline;
}
nav .icon
{
display: block;
position: absolute;
right: 20px;
}
#checkbtn:checked ~ ul
{
left: 0px;
}
nav .fas
{
 color: #FF0000;  
 font-size: 30px;
 line-height: 50px;
}
.textbox
{
    top: 60%;
}
.textbox p
{
text-align: center;
width: 90%;
}

#section7 p
{
width: 100%;
}
.footer p
{
font-size: small;
}
#section6 h3
{
    font-size: 18px;
    text-align: center;

}
}

/* pop form */
.popup
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: none;
}
.popup form
{
    border: 1px solid #FF0000;
    border-radius: 10px;
    width: 450px;
    height: 320px;
    padding: 30px;
    background-color:white; 
    z-index: 100;
    position: relative;
}
.popup input
{
    padding: 10px 20px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    outline: none;
    border:1px solid #FF0000;
    border-radius: 10px;
}
.popup input::placeholder
{
    color: #FF0000;
}
.popup button
{
    color: #FF0000;
    font-size: 16px;
    padding: 8px 25px ;
    border:1px solid #FF0000;
    border-radius: 10px;
background-color: transparent;
}
.popup button:hover
{
    background-color: #FF0000;
    color: white;
}
.popup h3
{
    color: #FF0000;
}
.popup #icon
{
    color: #FF0000;
    font-size: larger;
    position: absolute;
    right: 0px;
    top: 0px;
}
.popup h5
{
    color: #FF0000;
    padding: 10px 0px;
    text-align: center;
}
.popup a{
    text-decoration: none;
    color: #FF0000;
}
.popup a:hover
{
    text-decoration: underline;
}

/* section2 start */
#section2
{
    padding: 100px 0px;
    text-align: center;
}
#section2 .box
{
   margin: 50px 0px 0px 0px ;
    padding: 30px ;
    text-align: center;
    background-color: bisque;
    border-radius: 10px;
}
#section2 .box p
{
    font-size: 16px;
    width: 300px;

}

/* section3 start */
#section3 
{
    text-align: center;
}
#section3  img
{
    padding-top: 50px;
}

/* section4 styart */
#section4
{
    padding: 100px 0px;
    text-align: center;

}
#section4 img
{
    padding-top: 50px;
}
#section4 h4
{
    padding-top: 20px;
}
#section4 p
{
  font-size: 16px;
}

/* section5 start */
#section5
{
padding: 50px 0px;
}
#section5 h1
{
    text-align: center;
}

#section5 .s5box
{
    margin: 30px 0px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: antiquewhite;
}
#section5 .fa
{
    color: #FF0000;
    font-size: 20px;
}
/* section 6 start */
#section6
{
    padding: 50px 0px;
    background-image: linear-gradient(rgb(4,9,30,0.7), rgb(4,9,30,0.7)), url("../img/section6bg.jpg");
    background-position: top;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
}
#section6 .s6box
{
   position: absolute;
   top: 60%;
}
 .s6box h3
{
    font-weight: 800;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
.s6box a
{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
}
 .s6box a:hover
 {
     background-color: #FF0000;
     border: #FF0000;
 }

 /* section7 start */
 #section7
 {
     padding: 80px 0px;
     text-align: center;
 }
 #section7 p
 {
     width: 80%;
     padding: 0px 20px;
 }

 /* footer start */
 .footer
 {
     text-align: center;
 }